h1 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    color: rgb(255, 255, 255);
    text-indent: 5%;
}
h5 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:link {
    color:rgb(255, 255, 255);
}
a:hover {
    color: rgb(100, 100, 100);
}
.brmedium {
    display: block;
    margin-bottom: 1em;
}
section {
    color:rgb(255, 255, 255);
}
html {
    scroll-behavior: smooth;
}
body {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 40, 70);
    margin: 0;
}
span {
    color: white
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
a {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}
#portfolio a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul.horizontal-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
li {
    list-style-type: none;
}
footer {
    float: left;
    width: 100%;
    text-align: center;
}
article.portfolio-card p {
    font-weight: normal;
}
header {
    padding: 20px;
    text-align: center;
}
header h1 {
    font-weight: normal;
}
header li {
    font-size: large;
}
header li a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

canvas {
    background-color: black;
}
canvas body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skillsPtagdesc {
    font-size: 25px;
    width: 555px;
}

#coursesPtagdesc {
    font-size: 25px;
    width: 1000px;
}



@media (max-width: 600px) {
    h1 {
        font-size: 2.5em; /* Smaller font size for smaller devices */
    }
    h5 {
        font-size: 1.2em; /* Adjust size for h5 as well */
    }
    nav ul {
        flex-direction: column; /* Stack menu items vertically */
        align-items: flex-start; /* Align items to the start */
    }
    nav ul li {
        margin: 10px 0; /* Add spacing between items */
    }
    p {
        font-size: 1.5em; /* Scale down paragraph text */
    }
}

/* Styles for screens smaller than 450px */
@media (max-width: 450px) {
    h1 {
        font-size: 2em; /* Even smaller font size */
    }
    p {
        font-size: 1.2em; /* Further scale down paragraph text */
    }
    ul li {
        flex-direction: column; /* Stack menu items vertically */
        align-items: flex-start; /* Align items to the start */
        
    }

    #coursesPtagdesc {
        font-size: 50px;
        width: 1000px;
    }
}
