body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

label {
    color: white;
}

button[type=submit] {
    background-color: rgb(0, 35, 60);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button[type=submit]:hover {
    background-color: rgb(0, 78, 134);
}

.container {
    border-radius: 5px;
    background-color: #3d3d3d;
    padding: 20px;
    width: 700px;
}

@media (max-width: 600px) {
    body {
        height: auto;
        padding: 20px;
        width: 40%;
    }

    .container {
        width: 40%;
        padding: 15px;
    }

    input[type=text], select, textarea {
        padding: 10px;
        width: 40%;
    }

    button[type=submit] {
        padding: 10px 15px;
        font-size: 16px;
        width: 40%;
    }

    label {
        font-size: 14px;
        width: 40%;
    }
}